* {
	/* font-family: "Architects Daughter", cursive; */
	font-family: "Ubuntu Mono", monospace;
	--delay: 0.3s ease;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(20, 20, 20);
	color: rgb(226, 222, 222);
	transition: var(--delay);
}

.lightMode {
	color: rgb(20, 20, 20);
	background-color: rgb(226, 222, 222);
	transition: var(--delay);
}

main,
header {
	width: 33.3%;
	margin: 0 auto;
	display: block;
}

p {
	font-size: 18px;
}

form {
	width: 100%;
	display: flex;
	/* justify-content: flex-start; */
	flex-direction: column;
}

input,
textarea {
	border-radius: 5px;
	min-height: 1rem;
}

label {
	margin: 1rem 0rem 0.2rem 0rem;
}

textarea {
	min-height: 3rem;
}

.fa-solid:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

#blog_main {
	display: none;
}

#blog_link:hover {
	text-decoration: underline;
	cursor: pointer;
}

button {
	margin: 1rem 0;
}

.admin_header {
	padding: 2rem 0;
}

/* Media query stuffs */
@media (max-width: 1000px) {
	main,
	header {
		width: 60%;
	}
}

@media (max-width: 600px) {
	main,
	header {
		width: 80%;
	}
}
