<footer>
    <h2>Links:</h2>
    <ul>
        <li>
            <a aria-label="link to site owners github profile" target="_blank" href="https://github.com/LachlanStephan">
                Github
            </a>
        </li>
        <li>
            <a aria-label="send site owner email" href="mailto:ljstephan116@gmail.com">
                Email
            </a>
        </li>
        <li>
            <a aria-label="link to site owners linkedin profile" target="_blank" href="https://www.linkedin.com/in/lachlan-stephan-b58a1a213/">
                LinkedIn
            </a>
        </li>
    </ul>
</footer>