@tailwind base;
@layer base {
	h1 {
		@apply heading_one;
	}
}
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
	font-family: "Ubuntu Mono", monospace;
}

.heading_one {
	font-weight: bold;
	font-size: large;
}
