@tailwind base;
@layer base {
	h1 {
		@apply heading_one;
	}
	h2 {
		@apply heading_two;
	}
	h3 {
		@apply heading_three;
	}
	h4 {
		@apply heading_four;
	}
	a {
		@apply links;
	}
	section {
		@apply sections;
	}
	#__next {
		@apply center;
	}
	pre {
		@apply code_block;
	}
}
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

html {
	overflow-y: scroll;
}

body,
html {
	font-family: "Ubuntu Mono", monospace;
	/* font-family: "Fira Code", monospace; */
	margin: 0 auto;
	width: 100%;
	padding: 0;
	background: #ffefd5;
	color: #2c3539;
	min-height: 100vh;
}

* {
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5rem 0;
}

.heading_one {
	font-weight: bold;
	font-size: 2em;
}
.heading_two {
	font-weight: bold;
	font-size: 1.5em;
}
.heading_three {
	font-weight: bold;
	font-size: 1.17em;
}
.heading_four {
	font-size: 1em;
	font-weight: bold;
}
.links {
	background: linear-gradient(to bottom, pink 0%, pink 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	border-radius: 2px;
	padding: 0.25rem;
	margin: 0.25rem 0.25rem 0.25rem 0;
	text-decoration: none;
	transition: background-size 0.2s;
}
.links:hover {
	background-size: 4px 50px;
}
a:hover {
	color: black !important;
}
.sections {
	margin: 1rem 0;
	max-width: 100%;
}
.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.code_block {
	padding: 1rem;
	border: 2px solid black;
	border-radius: 5px;
	white-space: pre-wrap;
}
